* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

#vanta-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Goes behind the stopwatch card */
}

#container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #7b252579;
    color: white;
    border: 2px solid white;
    
    border-radius: 1.5rem;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.654);

    position: absolute;
}

#time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: monospace,'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 64px;
}

button {
    width: 120px;
    background-color: #EEE0CC;
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 1.5rem;
    font-size: 18px;
    font-weight: 500;
    color: #1e293b;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #FDACAC;
    transform: translateY(-2px);
}

#stop {
    /* width: 120px;
    height: 30px;
    font-size: 18px;
    border-radius: 5rem;
    border: none; */
    margin-top: 60px;
    margin-right: 30px;
    /* background-color: #EEE0CC; */
}

/*#restart {
    width: 120px;
    height: 30px;
    font-size: 18px;
    border-radius: 5rem;
    border: none;
    background-color: #EEE0CC;  
} */

#start {
    width: 80%;
    font-size: 24px;
    padding: 12px;
    position: absolute;
    bottom: 50px;
    border-radius: 5rem;
    border: none;
    background-color: #EEE0CC;
}

#start:hover {
    background-color: #FDACAC;
}